*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #52a777;
}

#analog-clock {
  min-width: 400px;
  max-width: 500px;
  width: 60%;
  aspect-ratio: 1;
  display: block;
  background-color: #ffea80;
  position: relative;
  border-radius: 50%;
  border: 10px inset #ff8838;
}

.number {
  display: block;
  position: absolute;
  height: 100%;
  width: 5px;
  border: 2px, solid, black;
  right: 50%;
}

.hours {
  position: relative;
  font-weight: bold;
  font-size: 1.25em;
  color: #371d5d;
}

.twist {
  position: absolute;
  top: 0;
}

.hand{
  position: absolute;
  left: 50%;
  bottom: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  width: 3px;
}

#second-hand{
  border: 2px solid #a31800;
  height: 47%;
}

#minute-hand{
  border: 2px solid #351d18;
  height: 47%;
}

#hour-hand{
  border: 2px solid #107028;
  height: 35%;
}
